<h3 class="clean-header-green">Change Password</h3>
<div>
    <form id="change-password-form" name="changePasswordForm">
        <md-input-container class="input-containers">
            <label for="old-password">Old Password</label>
            <input type="password" required="required"
                   class="form-control" id="old-password"
                   ng-model="vm.account.OldPassword">
            <div class="error-message"
                 ng-show="vm.wrongPassword">
                You entered wrong password!
            </div>
        </md-input-container>
        <md-input-container class="input-containers">
            <label for="new-password">New Password</label>
            <input type="password" required="required"
                   class="form-control" id="new-password"
                   ng-model="vm.account.NewPassword" pattern=".{6,100}">
            <div class="error-message"
                 ng-show="vm.account.NewPassword.$invalid">
                Password length must be between 6 and 100 characters
            </div>
        </md-input-container>
        <md-input-container class="input-containers">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" required="required"
                   class="form-control" id="confirm-password"
                   ng-model="vm.account.ConfirmPassword">
            <div class="error-message"
                 ng-show="vm.account.NewPassword !== vm.account.ConfirmPassword">
                Passwords don't match
            </div>
        </md-input-container>
        <button class="btn btn-primary" ng-class="(changePasswordForm.$valid) ? 'hvr-pulse' : ''" ng-disabled="changePasswordForm.$invalid || vm.account.NewPassword !== vm.account.ConfirmPassword" ng-click="vm.changePassword(vm.account)">Change Password</button>
    </form>
</div>